body {
  background: #FFF9E5;
  font-family: 'poppins';
  font-weight: 200;
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1{
  text-align: center;
  font-size: 20px;
}

.microphone-btn {
  display: in-line block;
  border-radius: 100%;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  height: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.microphone-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.microphone-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.microphone-btn:hover span {
  padding-right: 25px;
}

.microphone-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.microphone-btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#interim {
  background-color: #ffffff;
  color: black;
  border: solid black 1px;
  padding: 1em;
  margin: 1em;
  width: 300px;
}

#final {
  background-color: #ffffff;
  color: black;
  border: solid black 1px;
  padding: 1em;
  margin: 1em;
  width: 300px;
}


